
<div class="footer">
    <div class="icons">
        <a href="https://github.com/paddyw2"><i class="fa fa-github"></i></a>
        <a href="https://dribbble.com/paddyw2"><i class="fa fa-dribbble"></i></a>
        <a href="http://patrickwithams.tumblr.com/"><i class="fa fa-tumblr"></i></a>
        <a href="https://ca.linkedin.com/pub/patrick-withams/84/b32/32a"><i class="fa fa-linkedin"></i></a>
        <a href="http://codepen.io/paddyw2"><i class="fa fa-codepen"></i></a>
    </div>
    <p>&copy; Copyright Patrick S. Withams 2015 - All Rights Reserved</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$( document ).ready(function() {
    $("body").addClass("fadeIn");
});
</script>    

</body>
